/*
Stuff that I added that didn't have a great place in the 
original file set
*/

a.button{
	display: block;
	background: darken($accent-two, 30%);
	padding: $padding;
	margin: $padding*2 auto;
	max-width: 50%;
	text-align: center;
	color: #FFFFFF;
	@include border-radius();
	text-decoration: none;

	&:visited{
		color: #FFFFFF;
		}

	@include hoverActiveFocus(){
		background: darken($accent-two, 20%);
		@include transition(all, 0.2s, ease-in-out);
		}



	@media screen and (min-width: $bp-large){
		max-width: 30%;
		}

	}

.jumbotron{
	margin: 0;
	padding: $padding*2;
	vertical-align: top;
	background: url('road-alpha.png') no-repeat bottom;
	//color: #FFFFFF;
	text-align: center;
	font-size: $base-font-size+0.25;
	
	@media screen and (min-width: $bp-large+10){
			& .site-info{
				max-width: 55%;
				display: inline-block;
				text-align: left;
				vertical-align: top;
				}
		}

	}	

.header-widget-area{
	background: $accent-two;
	color: #FFFFFF;
	padding: $padding*2;
	margin-right: $padding*1.25;

	& ul li, & ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		}

	& dl{
		padding: 0;
		margin: 0;

		& dt, & dd{
			margin: 0 $padding/2;
			padding: 0;
			}
		}

	& a{
		color: darken($accent-two, 90%);

		@include hoverActiveFocus{
			text-decoration: none;
			}
		}

	@media screen and (min-width: $bp-large+10){
		max-width: 40%;
		display: inline-block;
		text-align: left;
		}
	}